<div class="pt-4 pb-4">
  <h1 class="fs-4">Adicionar Utilizador</h1>
</div>

<form action="/utilizadores/send-email" method="POST">
  <div class="form-group required">
    <label for="Utilizador_email" class="control-label">Endereço de Email:</label>
    <input
      id="Utilizador_email"
      name="Utilizador_email"
      type="email"
      class="form-control"
      required
    />
  </div>

  <br />

  <div class="form-group required">
    <label for="Utilizador_cargo" class="control-label">Cargo:</label>
    <select name="Utilizador_cargo" id="Utilizador_cargo" class="form-select">
      <option value="Recursos Humanos">Recursos Humanos</option>
      <option value="Design">Design</option>
      <option value="Desenvolvedor">Desenvolvedor</option>
      <option value="Produtor">Produtor</option>
    </select required=>
  </div>

  <br />

  <div class="form-check form-switch">
    <label
      for="checkbox_user_tipo"
      class="form-check-label"
    >Administrador:</label>
    <input
      id="checkbox_user_tipo"
      name="checkbox_user_tipo"
      type="checkbox"
      class="form-check-input"
    />
  </div>

  <br />

  <div>
    <button type="submit" class="btn btn-secondary">Submeter</button>
  </div>

</form>

{{#if errorMessage}}
  <script>
    window.onload = function () { alert("{{errorMessage}}"); }
  </script>
{{/if}}